/* App-level component styles */

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #1a1a2e;
}

.canvas-container {
  flex: 1;
  width: 100%;
  position: relative;
  margin-top: 52px;
}

.canvas-container>div {
  width: 100%;
  height: 100%;
}